doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/dist/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap-table/dist/bootstrap-table.min.css')
    script(src='/jquery/dist/jquery.min.js')
    script(src='/knockout/dist/knockout.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bootstrap-table/dist/bootstrap-table.min.js')
    
  body
    block content
